<?xml version="1.0"?>
<config>
    <modules>
        <Casian_Uploader>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </Casian_Uploader>
    </modules>
  
    <global>
        <blocks>
            <uploader>
                <class>Casian_Uploader_Block</class>
            </uploader>
        </blocks>
        <models>
            <uploader>
		<class>Casian_Uploader_Model</class> 
                <resourceModel>uploader_mysql4</resourceModel>              
            </uploader> 
            <uploader_mysql4>
                <class>Casian_Uploader_Model_Mysql4</class>
                <entities>
                    <uploader>
                        <table>uploader</table>
                    </uploader>
                </entities>
            </uploader_mysql4>         
        </models>
        <resources>
            <uploader_setup>
                <setup>
                    <module>Casian_Uploader</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </uploader_setup>
            <uploader_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </uploader_write>
            <uploader_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </uploader_read>
        </resources>
        <helpers>
            <uploader>
                <class>Casian_Uploader_Helper</class>
            </uploader>
        </helpers>
    </global>
    
    <frontend>
        <routers>
            <uploader>
                <use>standard</use>
                <args>
                    <module>Casian_Uploader</module>
                    <frontName>uploader</frontName>
                </args>
            </uploader>
        </routers>
        <layout>
            <updates>
                <uploader>
                    <file>uploader.xml</file>
                </uploader>
            </updates>
        </layout>     
    </frontend>
</config>